<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newBurger="{{sleep}}">
		{{#if EATEN}}EAT ME!{{else}}DEVOUR!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
